@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}.custom-cont {
    padding: 0 6em;
} .custom-head {
    margin-top: 1em;
}
/*========== Navbar ==================== */
.nav-cont {
    width: 100%;
} .nav-cont ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
} .nav-cont ul {
    display: flex;
    margin: 0;
} .nav-top {
    display: flex;
    width: 100%;
    justify-content: flex-end;
} .nav-top li {
    margin-left: 2em;
    font-size: 13px;
    padding: 5px 0;
} .nav-logo img {
    width: 100%;
    object-fit: cover;
} .nav-logo {
    width: 10em;
} .nav-bot li{
    padding: 5px 0;
} .nav-bot ul{
    justify-content: space-between;
} .d-box {
    border: 1px solid rgba(0,0,0,.2);
    padding: .2em 1em;
}

/* ======================================== */

/* ============== Trending ================ */
.trending-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}.t-thumb {
    width: 100%;
    height: 300px;
    overflow: hidden;
}.i-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
} .t-body {
    padding-top: .5em;
    display: flex;
    flex-direction: column;
}.t-head {
    font-size: 17px;
    font-weight: bold;
}
/* ======================================== */

/* ============== Trending ================ */
.popular-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}.popular-cont .t-thumb {
    height: 200px;
}
/* ======================================== */
